<launch>
    <node pkg="gpsimu" type="tf_pub.py" name="tf"  />
    <!--node pkg="gpsimu" type="gpsimu_parser.py" name="gpsimu_parser" /--> 
    <!--node pkg="gpsimu" type="heading_calculator.py" name="heading_caltulator"  /-->
    <node pkg="gpsimu" type="global_path_pub.py" name="global_path" />
    <node pkg="gpsimu" type="local_path_pub.py" name="local_path"  />
    <node pkg="gpsimu" type="stanley_08.28.py" name="stanley"  />
    
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find gpsimu)/rviz/lane_detection.rviz" />
</launch>
